.dashboard-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-container {
  width: 50%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.carousel-arrow.left {
  left: 5em;
}

.carousel-arrow.right {
  right: 5em;
}
