<div class="dashboard-main-container">
  <div class="header-container container-p">
    <header>Hello, {{ username }}. 👋</header>

    <div class="search-bar-container">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search..." class="search-input" />
    </div>
  </div>

  <div class="panel-container container-p">
    <div class="panel-section">
      <div class="panel-left-side">
        <div class="panel-label">{{ "Today's Profit" | uppercase }}</div>
        <div class="panel-count">₱{{ formatNumber(todayProfit) }}</div>
      </div>
      <div class="panel-right-side">
        <div class="panel-icon">
          <i class="fa-solid fa-coins"></i>
        </div>
      </div>
    </div>

    <div class="panel-section">
      <div class="panel-left-side">
        <div class="panel-label">{{ "Total Profit" | uppercase }}</div>
        <div class="panel-count">₱{{ formatNumber(totalProfit) }}</div>
      </div>
      <div class="panel-right-side">
        <div class="panel-icon">
          <i class="fa-solid fa-wallet"></i>
        </div>
      </div>
    </div>

    <div class="panel-section">
      <div class="panel-left-side">
        <div class="panel-label">
          {{ "Total Transaction Count" | uppercase }}
        </div>
        <div class="panel-count">{{ transactionCount }}</div>
      </div>
      <div class="panel-right-side">
        <div class="panel-icon">
          <i class="fa-solid fa-receipt"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="sales-container">
    <div class="sales-header-container">
      <header>Sales</header>

      <div class="time-span-container">
        <div (click)="toggleTab('today')" class="today-section" [ngClass]="{'tab-active': isTodayTabClicked, 'tab-inactive': !isTodayTabClicked}">Today</div>
        <div (click)="toggleTab('weekly')" class="weekly-section" [ngClass]="{'tab-active': isWeeklyTabClicked, 'tab-inactive': !isWeeklyTabClicked}">This Week</div>
        <div (click)="toggleTab('monthly')" class="monthly-section" [ngClass]="{'tab-active': isMonthlyTabClicked, 'tab-inactive': !isMonthlyTabClicked}">This Month</div>
      </div>
    </div>

    <div class="table-container">
      <table class="data-table">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 30%" />
          <col style="width: 30%" />
          <col style="width: 15%" />
        </colgroup>
        <thead>
          <tr>
            <th class="header-cell">
              ID
              <i
                (click)="handleDataSorting('id')"
                class="fa-solid icons"
                [class.fa-arrow-up-short-wide]="!isIdDescending"
                [class.fa-arrow-down-short-wide]="isIdDescending"
              ></i>
            </th>

            <th class="header-cell">
              Date
              <i
                (click)="handleDataSorting('date')"
                class="fa-solid icons"
                [class.fa-arrow-up-short-wide]="!isDateDescending"
                [class.fa-arrow-down-short-wide]="isDateDescending"
              ></i>
            </th>

            <th class="header-cell">
              Customer Name
              <i
                (click)="handleDataSorting('customerName')"
                class="fa-solid icons"
                [class.fa-arrow-up-short-wide]="!isCustomerNameDescending"
                [class.fa-arrow-down-short-wide]="isCustomerNameDescending"
              ></i>
            </th>

            <th class="header-cell">
              Location
              <i
                (click)="handleDataSorting('location')"
                class="fa-solid icons"
                [class.fa-arrow-up-short-wide]="!isLocationDescending"
                [class.fa-arrow-down-short-wide]="isLocationDescending"
              ></i>
            </th>
            <th class="header-cell">
              Amount
              <i
                (click)="handleDataSorting('amount')"
                class="fa-solid icons"
                [class.fa-arrow-up-short-wide]="!isAmountDescending"
                [class.fa-arrow-down-short-wide]="isAmountDescending"
              ></i>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let sale of filteredData">
            <td class="item-cell">{{ sale.id }}</td>
            <td class="item-cell">{{ formatDate(sale.createdAt) }}</td>
            <td class="item-cell">{{ sale.customerName }}</td>
            <td class="item-cell">{{ sale.location }}</td>
            <td class="item-cell">₱{{ formatNumber(sale.amount) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
