.sidebar-main-container {
  height: 100vh;
  width: 180px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background: #6f6af8;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.sidebar-main-container.collapsed {
  transform: translateX(-220px);
}

.sidebar-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.sidebar-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: white;
  margin: 20px 0;
}

.sidebar-toggle-btn {
  border: none;
  background: transparent;
}

.sidebar-header-logo {
  font-size: 30px;
  color: white;
}

.sidebar-panel-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-menu-container {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  gap: 25px;
  transition: background 0.1s ease;
}

.sidebar-menu-container:hover {
  background: #908bfa;
}

.sidebar-menu-logo {
  font-size: 14px;
  color: white;
}

.sidebar-menu-label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
