<div class="sidebar-main-container">
  <div class="sidebar-header">
    <div class="sidebar-title">Lorem Ipsum</div>
  </div>
  <div class="sidebar-panel-container">
    <div class="sidebar-menu-container">
      <i class="fa-solid fa-chart-simple sidebar-menu-logo"></i>
      <div class="sidebar-menu-label">Dashboard</div>
    </div>
    <div class="sidebar-menu-container">
      <i class="fa-solid fa-chart-simple sidebar-menu-logo"></i>
      <div class="sidebar-menu-label">Lorem Ipsum</div>
    </div>
  </div>
</div>
