.sidebar-main-container {
  height: 100vh;
  width: 180px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background: #ffe6c9;
  transition: width 0.3s ease-in-out;
  overflow: hidden;

  .sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    header {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #354f52;
      margin: 20px 0;
    }

    img {
      height: 30px;
    }
  }

  .sidebar-panel-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: opacity 0.3s ease-in-out;

    .sidebar-menu-container {
      height: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      transition: background 0.1s ease;

      .sidebar-menu-logo {
        font-size: 14px;
        color: #354f52;
      }

      header {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #354f52;
      }
    }

    .sidebar-menu-container:hover {
      background: #ecd4b8;
    }
  }
}

.sidebar-left {
  min-width: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-main-container.collapsed {
  width: 40px;
}
