<div class="sidebar-main-container" [ngClass]="{ collapsed: isCollapsed }">
  <div class="sidebar-header">
    <div class="sidebar-left">
      <img src="assets/images/TMG.png" alt="Logo" (click)="toggleSidebar()" />
    </div>
    <header>JMDB</header>
  </div>
  <div class="sidebar-panel-container">
    <div class="sidebar-menu-container" (click)="handleDashboardClick()">
      <div class="sidebar-left">
        <i class="fa-solid fa-chart-simple sidebar-menu-logo"></i>
      </div>
      <header>Dashboard</header>
    </div>
    <div class="sidebar-menu-container">
      <div class="sidebar-left">
        <i class="fa-solid fa-chart-simple sidebar-menu-logo"></i>
      </div>
      <header>Lorem Ipsum</header>
    </div>
  </div>
</div>
