<div class="app-container" *ngIf="isShowLoading">
  <app-full-page-loader />
</div>

<!-- <div *ngIf="message">
  <h1>{{ message.notification.title }}</h1>
  <h2>{{ message.notification.body }}</h2>
</div>

<div *ngIf="!message">No Message Arrived</div> -->

<router-outlet (activate)="checkSession($event)" *ngIf="!isLoggedIn" />

<div class="app-component-main-container" *ngIf="isLoggedIn">
  <div class="sidebar-section">
    <app-sidebar />
  </div>

  <div class="ro-section">
    <router-outlet (activate)="checkSession($event)" />
  </div>
</div>
